section{
    padding: 70px 0;
}
.bg-color{
    background-color: #F4F7FA;
}
.hero-banner{
   
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 165px 0;
    background-color: #F4F7FA;
}
.banner-title{
    font-size: 84px;
    font-weight: 600;
    color: #B73010;
}
.banner-title span{
    color: #000000;
}
.banner-desc {
    font-size: 26px;
}



.section-title{
    font-size: 48px;
    font-weight: 600;
    color: #000000;
}
.section-desc{
    font-size: 24px;
    font-weight: 500;
    line-height: 43px;
}


.ft-card h5{
    font-size: 40px;
    font-weight: 600;
    line-height: 43px;
}
.ft-card p{
    font-size: 24px;
    font-weight: 500;
    line-height: 43px;
}


/* footer css start */
.footer-top{
    background-color: #F4F7FA;
    padding-top: 90px;
    padding-bottom: 60px;
}
.footer-bottom{
    background-color: #B73010;
    padding: 35px 0;
}

footer p{
    margin-bottom: 0;
    font-size: 24px;
    font-weight: 500;
    color: #fff;
}